{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>This web application follows the "Let's Go!" book by Alex Edwards. It is primarily used as a learning project covering topics such as: building handlers, routes, serving static files, HTML templating and inheritance, customizing HTTP headers, dependency injection, transacting against a MySQL database, error handling, panic recovery, middleware chains, processing form data, session management, user authentication and authorization, embedding, generics and various types of testing.</p>
{{end}}